---
import { languages } from "../../../i18n/ui";
import { getStaticPaths, useTranslations } from "../../../i18n/utils";

// Note the extra '../' in the import paths because we are one folder deeper now!
import Layout from "../../../layouts/Layout.astro";

export { getStaticPaths };

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof languages);
---

<Layout title={`${t('services.web.hero.title')} | Scale Automata`}>
    <section class="page-view page-view-layout">
        
        <div class="hero-section hero-section-wrapper">
            <div class="reveal">
                <h1 class="hero-title title-overflow">
                    <span class="pan-wrapper">
                        {t('services.web.hero.title')}
                    </span>
                </h1>
                
                <h2 class="hero-subtitle">
                    {t('services.web.hero.subtitle')}
                </h2>
                
                <div class="hero-description text-left-indented">
                    <p>{t('services.web.hero.desc1')}</p>
                    
                    <p>{t('services.web.hero.desc2')}</p>
                    
                    <p>{t('services.web.hero.desc3')}</p>
                </div>
                
                <div class="action-buttons-wrapper">
                    <a href={`/${lang}/contact/`} class="btn btn-neon dark-bg reveal" style="transition-delay: 0.1s;">
                        {t('services.web.hero.button')}
                    </a>
                </div>
            </div>
        </div>

    </section>
</Layout>

